<div class="container">
    <br>
    <h4>About this application</h4>
    <br>
    <p>
        This project is built with some cool technologies like
        <br>
        <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a>
        <br>
        <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
        <br>
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        <br>
        <a href="https://jquery.com/" target="_blank">jQuery</a>
    </p>
    <p><a href="https://github.com/gabrielfern/ror-todo-list" target="_blank">
        <%= octicon "repo" %> Link to repository</a></p>
    <p>Made by <a href="https://github.com/gabrielfern" target="_blank">
        <%= octicon "mark-github" %> Gabriel Fernandes</a> with <%= octicon "heart" %></p>
</div>
